##################################################
# Mac
##################################################
*.DS_Store

##################################################
# Unity
##################################################
Library
Temp
*.pidb
*.unityproj
*.sln
*.userprefs